@import url('https://fonts.googleapis.com/css?family=Poppins');
$body-bg: #f2eee8;
$top-bar-color: #fffbf5;
$white-color: #FFF;
$text-light: #dcdbd9;
$color-blue: #80a8cc;
$icon-color: #605e58;
@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
body {
    font-family: 'Poppins',sans-serif;
    background-color: $body-bg;
    .text-light {
        color: $text-light;
    }
    a:focus {
        background-color: transparent !important;
    }
    .padding-10 {
        padding: 10px;
    }
    .margin-t-20 {
        margin-top: 20px;
    }
    .line-22 {
        line-height: 22px;
    }
    .margin-r-10 {
        margin-right: 15px;
    }
    i {
        cursor: pointer;
    }
    .twitter-logo {
        font-size: 40px;
        color: $color-blue;
        padding: 0 !important;
        &:hover {
            background: transparent !important;
        }
    }
    .navbar-top {
        background-color: $top-bar-color;
        border-width: 0;
        position: fixed;
        top: 0;
        width: inherit;
        .user {
            border: 1px solid $text-light;
            @include radius(30px);
            float: right;
            padding: 8px 12px;
            color: $icon-color;
            &:hover {
                color: $icon-color !important;
            }
            &:focus {
                @extend :hover;
                border: 1px solid $text-light;
            }
        }
        .drop-small {
            padding: 0;
            a {
                background-color: $color-blue;
                color: $white-color !important;
                &:hover {
                    color: $icon-color !important;
                }
            }
        }
        .top-search {
            padding: 10px;
            margin-bottom: 0;
            input {
                @include radius(15px !important);
                background: transparent;
                padding-right: 30px;
                border: 1px solid $text-light;
            }
            label {
                position: absolute;
                right: 10px;
                top: 8px;
                color: $text-light;
            }
        }
        .navbar-header {
            border-right: 1px solid $text-light;
        }
        .logo {
            @include radius(20px !important);
            float: left;
            height: 40px;
            width: 40px;
            background: $color-blue;
            position: relative;
            padding: 10px;
            .fa {
                color: $white-color;
            }
            &:hover {
                background: $color-blue;
            }
        }
        .top-icons {
            @include radius(20px !important);
            float: left;
            height: 40px;
            width: 40px;
            border: 1px solid $text-light;
            position: relative;
            padding: 10px 12px;
            margin: 0 10px;
            a {
                padding: 0 !important;
                i {
                    color: $icon-color;
                }
                &:hover {
                    color: $icon-color !important;
                }
                .fa {
                    color: $icon-color;
                }
            }
        }
    }
    .box {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 80px;
        .block {
            background-color: $top-bar-color;
            margin-top: 50px;
            .top-tabs {
                border: none;
                li a {
                    color: $icon-color;
                    &:hover {
                        border-width: 0 0 5px 0;
                        border-style: solid;
                        border-color: $color-blue;
                        background-color: transparent;
                    }
                }
                .active a {
                    border-width: 0 0 5px 0;
                    border-style: solid;
                    border-color: $color-blue;
                    background-color: transparent;
                }
            }
            .tab-content {
                padding: 20px 0;
                .sep-blk {
                    border-bottom: 1px solid $text-light;
                    padding-bottom: 15px;
                }
                .user-main-left {
                    border: 1px solid $text-light;
                    @include radius(30px);
                    font-size: 22px;
                    padding: 12px 15px;
                    margin-left: 15px;
                }
                .user-feed {
                    border: 1px solid $color-blue;
                    button {
                        margin: 0 0 15px 15px;
                    }
                    input {
                        width: 80%;
                        margin: 15px;
                    }
                }
            }
        }
    }
}